 {{ph.created | date:'short'}}
<div class="w3-dropdown-hover w3-white w3-border">
	<i class="fa fa-bars" aria-hidden="true"></i>
	<!--
		<i class="fa fa-align-justify" aria-hidden="true"></i>
	-->
	<div class="w3-dropdown-content w3-card-2" style="width: 300px">
		<header class="w3-light-grey w3-small">
			<a class="w3-hover-grey" href="#"
				ng-click="savePatientHistoryRecord(ph)"> <i
				class="fa fa-floppy-o" aria-hidden="true"></i>запис
			</a> <a class="w3-hover-grey" href="#"
				ng-click="removePatientHistoryRecord(ph)"> <i
				class="fa fa-times" aria-hidden="true"></i>видалити
			</a>
		</header>
		<div><b> Додати запис: </b> 
			|<a href="#" class="w3-border w3-hover-grey" ng-click="addHistoryRecordType('doctor',ph)">лікарський запис (анаменез)</a>
			|<a href="#" class="w3-border w3-hover-grey" ng-click="addHistoryRecordType('ultrasound',ph)">УЗД</a>
			|<a href="#" class="w3-border w3-hover-grey" ng-click="addHistoryRecordType('rentgen',ph)">рентген</a>
			|<a href="#" class="w3-border w3-hover-grey" ng-click="addHistoryRecordType('ECG',ph)">ЕКГ</a>
		</div>
		<br/>
		<a href="#" ng-click="testDialog(ph)">test: якась дія</a>
	</div>
</div>