<div class="w3-container">
	<div class="w3-row"
		ng-if="fnPrincipal.hasRole('ROLE_WAITING_FOR_CONFIRMATION')">
		<div
			class="w3-col m4 l4 s4 w3-panel w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-blue">
			<div class="am-u">Перевірка логіна пройшла успішно.</div>
			Ви подали заявку на користування програмою <br />
			medic-algoritmed.com .
			<div>
				<b> Для активації Вашого роботи в системі - можливі наступні
					дії:</b>
			</div>
			<ol>
				<li>
				<a href="/v/info#msp_list">
				Знайдіть ваш лікувальний заклад і зв'яжіться з зав.відділом
					кадрів чи адміністратором лікарні
				</a></li>
				<li>Зв'яжіться з провайдером algoritmed для наданя вам статусу
					адмініcтратора лікарні (+38&nbsp;097/6428677)</li>
			</ol>
			<div>
				<i> Після активації вашого логіна необхідно перезалогінитись. </i>
			</div>

		</div>
		<div class="w3-col m8 l8 s8 w3-container">
			<div
				ng-include="'/f/mvp1/medic/msp2/personal_page/personal_area_content.html'"></div>
		</div>
	</div>
	<div ng-if="!fnPrincipal.hasRole('ROLE_WAITING_FOR_CONFIRMATION')"
		ng-include="'/f/mvp1/medic/msp2/personal_page/personal_area_content.html'"></div>
</div>