<div class="w3-row" ng-init="cl1=2;cl2=12-cl1">
	<div class="w3-col m{{cl1}} l{{cl1}} s{{cl1}} w3-right-align">Пошук:</div>
	<div class="w3-col m{{cl2}} l{{cl2}} s{{cl2}}">
		<input ng-change="config_reception.fn_seek_patient()"
			placeholder="Пошук" class="w3-border am-width-100pr"
			style="width: 90%;"
			ng-model="config_reception.seek_patient">
			<i class="fa fa-reply-all" aria-hidden="true"
			title="Відновити пошук"
			></i>
	</div>
</div>
<div style="max-height: 160px; overflow: auto;">
	<table class="w3-table-all">
		<tr class="w3-small">
			<th>ПІП</th>
			<th class="w3-right"
			><i class="fa fa-map-signs" aria-hidden="true"></i> <i
				title="Декларація" class="fa fa-university" aria-hidden="true"></i></th>
		</tr>
		<tr ng-repeat="patient in config_reception.msp_patients.list">
			<td class="w3-tooltip">
				<span ng-bind-html="highlight(patient.patient_pib, config_reception.seek_patient)"></span>
			<span
				class="w3-text"> <span class="w3-dropdown-hover"> <i
					class="fa fa-map-signs" aria-hidden="true"></i>
					<div class="w3-dropdown-content w3-border">
							<!-- додати в чергу до лікаря -->
							<span ng-if="!fnPrincipal.hasRole('ROLE_REGISTRY_NURSE')"><span class="w3-small w3-border w3-hover-gray"
								ng-click="config_reception.queue.add_to_queue(patient,user)">
									{{user.family_name}} </span></span>
							<span ng-if="fnPrincipal.hasRole('ROLE_REGISTRY_NURSE')">
								<span class="w3-small w3-border w3-hover-gray"
								ng-repeat="employee in config_info.msp_doctors.list"
								ng-click="config_reception.queue.add_to_queue(patient,employee)">
									{{employee.family_name}} </span>
							</span>
						</div>
				</span>
			</span>
			</td>
			<td class="w3-right"><i class="fa fa-sign-in"
				aria-hidden="true"></i> <i title="декларації ще не підписана"
				class="fa fa-gavel" aria-hidden="true"></i></td>
		</tr>
	</table>
</div>


<!-- 
<div>
	{{config_reception.msp_patients}}
</div>
 -->