<div class="w3-container">
	<div class="w3-border-bottom">
		<header class="w3-border-bottom w3-tiny">
			<b> дати </b>
		</header>
		<span ng-repeat="k_d in config_employee.keys_dates_declaration"
			ng-init="v_d=config_employee.dates_name[k_d];v_obj=doc_declaration;v_e=v_obj[k_d]" > 
			<span title="{{k_d}}"> {{v_d.title}} </span>
			<span class="w3-dropdown-hover w3-hover-gray">
				<span title="{{v_e}}"> {{v_e | date : 'short'}}{{$last?'':','}}</span>
				<div class="w3-dropdown-content w3-bar-block w3-border">
				a1
				</div>
			</span>
		</span>
	</div>

<h2>Декларація пацієнта</h2>

<div ng-include="'/f/mvp1/medic/msp2/declaration/declaration_person.html'"></div>
<div ng-include="'/f/mvp1/medic/msp2/declaration/declaration_employee.html'"></div>
<div ng-include="'/f/mvp1/medic/msp2/declaration/declaration_division.html'"></div>
<div ng-include="'/f/mvp1/medic/msp2/declaration/declaration_legal_entity.html'"></div>

<!-- 
<hr>
<div class="w3-row-padding"
	ng-repeat="(k,v) in doc_declaration">
	<div class="w3-col m2">
		<b> {{k}} </b>
	</div>
	<div class="w3-col m10"> {{v}} </div>
</div>
doc_declaration
{{doc_declaration}}
 -->
