<b class="w3-large"> Пацієнт: </b>
<input ng-change="autoSave.fn_change_count()"
	placeholder="Прізвище" class="w3-border"
	ng-model="doc_declaration.person.last_name"> 
<input
	ng-change="autoSave.fn_change_count()" placeholder="Ім'я"
	class="w3-border" ng-model="doc_declaration.person.first_name">
<input ng-change="autoSave.fn_change_count()"
	placeholder="По батькові" class="w3-border"
	ng-model="doc_declaration.person.second_name">
<div>
<b>
Дата народження:
</b>
<span title="{{doc_declaration.person.birth_date}}"> {{doc_declaration.person.birth_date | date : 'dd-MMM-yyyy'}}</span>,
<b>
Місце народження:
</b>
<input ng-change="autoSave.fn_change_count()"
	placeholder="Місце народження" class="w3-border"
	ng-model="doc_declaration.person.birth_settlement">
</div>
<div>
Ідентифікаційний номер <input
	ng-change="autoSave.fn_change_count()"
	placeholder="Ідентифікаційний номер" class="w3-border"
	ng-model="doc_employee.data.party.tax_id">
</div>
<div class="w3-row-padding">
	<div class="w3-quarter ">
		<div class="w3-right">
			<b> Телефони </b>
		</div>
	</div>
	<div class="w3-threequarter">
		<div
			ng-repeat="phone in doc_declaration.person.phones track by $index"
			ng-init="phoneList=doc_declaration.person.phones"
			ng-include="'/f/mvp1/lib/phone_dialog.html'"></div>
	</div>
</div>

<div class="w3-right-align w3-small">
	<b> У випадку наявності дубляжа даних пацієнта, поєднати з </b>
	<span title="merged_ids">
	{{doc_declaration.person.merged_ids}}
	</span>
</div>
