<div class="w3-container">
	<h2 class="w3-center am-uppercase ">
		<a href="/v/admin-msp"> Адмін лікувального закладу</a>
	</h2>
	<div class="w3-bar w3-light-gray">
		<div ng-repeat="(k,v) in config_msp_all.admin_msp.dialogs"
			class="w3-bar-item w3-hover-gray"
			ng-class="{'w3-green':k==config_msp_all.opened_dialog}"
			ng-click="config_msp_all.fn_open_dialog(k)">
			<a href="#{{k}}"> {{v.name}} </a> <span class="w3-small"
				ng-if="'opened_card'==k">
				{{config_msp_all.human_resources_department.fn_opened_card_name()}}
			</span>
		</div>
	</div>
	<div class="w3-card-2"
		ng-repeat="(k,v) in config_msp_all.admin_msp.dialogs"
		ng-if="config_msp_all.opened_dialog==k">
		<div ng-include="'/f/mvp1/lib/window_head.html'"></div>
		<div ng-include="'/f/mvp1/medic/msp2/admin_msp/admin_msp_'+k+'.html'"></div>
	</div>
	<!--  -->
	<div class="w3-card-2"
		ng-repeat="(k,v) in config_msp_all.admin_msp.dialogs"
		ng-if="config_msp_all.opened_dialog!=k">
		<div ng-include="'/f/mvp1/lib/window_head.html'"></div>
	</div>
</div>
