<div class="w3-dropdown-hover" style="width: 100%">
	<div ng-if="!(eh_divisions.division_ids[division.doc_id]>=0)">
		Реєстрація триває </div>
	<div ng-if="eh_divisions.division_ids[division.doc_id]>=0">
		Зареєстровано

		<div class="w3-tiny">
			{{eh_divisions.data[eh_divisions.division_ids[division.doc_id]].id}}
		</div>
	</div>
	<div class="w3-dropdown-content w3-card-2 w3-border w3-border-blue"
		style="right: 2px">
		<button class="w3-btn w3-blue"
			ng-click="config_msp.mspDivisionToEHealth(division
			, eh_divisions.data[eh_divisions.division_ids[division.doc_id]].id)">
			<span ng-if="!(eh_divisions.division_ids[division.doc_id]>=0)">
				Реестрація </span>
			<span ng-if="eh_divisions.division_ids[division.doc_id]>=0">
				Доповненя реестрації </span>  в #eHealth
		</button>
	</div>
</div>
<div ng-if="division.mspDivisionToEHealth.error">
	Помилки:
	<div ng-repeat="error in division.mspDivisionToEHealth.error.invalid">
		{{$index}})
		{{error.entry}}
		
		</div>
</div>