<div>&nbsp;</div>
<div class="w3-container">
	<div class="w3-card">
		<header class="w3-light-gray w3-small"> Стан реєестрації в
			центральному реєстрі </header>
		<div class="w3-row">
			<div class="w3-threequarter">
				<b>Лікувальний заклад:</b> 
				{{api__legal_entities.name}}

			</div>
			<div class="w3-quarter ">
				<div ng-if="api__legal_entities.id"
					title="{{api__legal_entities.id}}">
					<div class="w3-display-container" style="height: 30px;">
						<div class="w3-display-topright w3-tiny">
							<a
								href="https://medic.algoritmed.com/r/gcc/api/legal_entities/{{api__legal_entities.id}}">j</a>
						</div>
						Зареєстрований <img
							src="http://auth.demo.ehealth.world/images/logo.svg" height="20"
							style="margin-bottom: 0; margin-top: -14px;" alt="#eHealth"
							title="#eHealth">
					</div>
					<div class="w3-small w3-bottombar w3-topbar w3-border-blue
					w3-hover-gray
					" title="{{principal.uri.uri_oauth2_sign_in}}">
					<!-- 
					class="w3-hover-gray"
					&scope=apps:create
					&redirect_uri=https://medic.algoritmed.com/r/to_oauth_tokens"
					href="http://auth.demo.ehealth.world/sign-in
					href="http://auth.demo.ehealth.world/sign-in
					 -->
					<a
					href="{{principal.uri.uri_oauth2_sign_in}}
					?client_id={{api__legal_entities.id}}
					&response_type=code
					&email=roman.mishchenko@gmail.com
					&redirect_uri=https://medic.algoritmed.com/r/to_oauth_tokens2"
					>
					Активуйте ваш eHealth логін для реєстрації підрозділів
					</a></div>
				</div>
				<div ng-if="!api__legal_entities.id">Реєстрація триває</div>
			</div>
		</div>
	</div>
</div>
<div>&nbsp;</div>
<div class="w3-container">
	<div class="w3-card">
		<div class="w3-row">
			<div class="w3-threequarter">
		<header class="w3-light-gray w3-small w3-border-right"> Накладання ЕЦП і
			реєстрація лікувального закладу в центральному реєстрі </header>
				<div
				class="w3-border-right"
					ng-include="'/f/mvp1/medic/msp2/msp_registry_data_digitalsign.html'"></div>
			</div>
			<div class="w3-quarter ">
				<header class="w3-light-gray w3-small">Відповідь на
					останній запит реєстрації</header>
				<div ng-repeat="invalid in last_registry_error.error.invalid"
					ng-init="invalid_path = invalid.entry.split('.')">
					<div ng-if="invalid_path[1]">
					{{config_msp.getFieldName(invalid_path[1])}}
					<!-- 
					{{invalid_path[1]}}
					.
					 -->
					{{invalid_path[2]}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
