<div class="w3-bar w3-border">
	<div class="w3-bar-item">
		<b> Назва: </b> {{api__legal_entities.name}} <span class="w3-tiny">
			автозбереження:
			{{config_msp.autoSave.save_count}}/{{config_msp.autoSave.change_count}}</span>
	</div>
	<div class="w3-bar-item w3-right w3-light-gray  w3-hover-gray"
		ng-click="config_msp.menu_registry.step='digitalsign';config_msp.menu_registry.name='data'">
		<i class="fa fa-angle-right w3-large" aria-hidden="true"></i>
	</div>
	<div class="w3-bar-item w3-btn w3-blue w3-right"
	 ng-click="legal_entities()"
	>Запис</div>
</div>
<a href="/f/img/paper-med-doc.jpg" download="AmLogo"> AM </a>

	<button ng-click="config_msp.mspToSave()">
	save
	</button>

<!-- 
	href="data:text/json;charset=UTF-8,{{config_msp.mspToSave()}}"
	<div>
		<a class="w3-tiny" href="?doc_id={{api__legal_entities.doc_id}}">reload</a>
		{{param.doc_id}}
	</div>
 -->
<div style="max-height: 300px; overflow: auto;">
	<ul class="w3-ul">
		<li ng-repeat="(k,v) in api__legal_entities">{{k}} : <input
			ng-change="config_msp.autoSave.fn_change_count()"
			class="w3-input w3-border" ng-model="api__legal_entities[k]"
			ng-if="!v.isObject() && !v.isArray()">
		</li>
	</ul>
</div>
