<div class="w3-bar w3-border">
	<div class="w3-bar-item">
		<b> Назва: </b> {{api__legal_entities.short_name}} <span class="w3-tiny">
			автозбереження:
			{{config_msp.autoSave.save_count}}/{{config_msp.autoSave.change_count}}</span>
	</div>
	<div class="w3-bar-item w3-right w3-light-gray  w3-hover-gray"
		ng-click="config_msp.menu_registry.step='digitalsign';config_msp.menu_registry.name='data'">
		<i class="fa fa-angle-right w3-large" aria-hidden="true"></i>
	</div>
	<div class="w3-bar-item w3-btn w3-blue w3-right"
	 ng-click="legal_entities()"
	>Запис</div>
</div>

<div style="max-height: 300px; overflow: auto;">
	<ul class="w3-ul">
		<li ng-repeat="(k,v) in api__legal_entities"><a
			ng-if="v.isArray()" href="#" ng-click="config_msp.openGroup(k)">
				{{config_msp.getFieldName(k)}} </a> <span ng-if="!v.isArray()">
				{{config_msp.getFieldName(k)}} </span> : 
			<input
				ng-change="config_msp.autoSave.fn_change_count()"
				class="w3-input w3-border" ng-model="api__legal_entities[k]"
				ng-if="!v.isObject() && !v.isArray()">
			<ul class="w3-ul" ng-if="config_msp.openedGroup.contains(k)">
				<li ng-repeat="(k1,v1) in v">
				{{1 + k1}}.
					<ul class="w3-ul">
						<li ng-repeat="(k2,v2) in v1">
							{{config_msp.getFieldName(k2, k)}}:
							<input
								ng-change="config_msp.autoSave.fn_change_count()"
								class="w3-input w3-border" ng-model="v1[k2]"
								ng-if="!v2.isObject() && !v2.isArray()">
						</li>
					</ul> 
				</li>
			</ul></li>
	</ul>
</div>
