@media print {
	a[href]:after {
		content: none;
	}
	.no-print, .no-print * {
		display: none !important;
	}
}
textarea{width:100%;}
/*to remove*/
.am-list.w3-hoverable span:hover{background-color:#ccc}
