@media print {
a[href]:after {
	content: none;
}
.no-print, .no-print * {
	display: none !important;
}
html{
	margin-left: 0cm
}
}

.w3-border-deep-orange,.w3-hover-border-deep-orange:hover{border-color:#ff5722!important}
.w3-top,.w3-bottom{max-width:1000px;}

textarea{width:100%;}
.b{
	font-weight:bold;
}
.am-u{
	text-decoration: underline;
}
.am-width-100pr{
	width: 100%;
}
.am-tooltip-text{
	position:absolute;left:0;bottom:18px
}
.am-uppercase{
	text-transform: uppercase;
}
/*to remove*/
.am-list.w3-hoverable span:hover{background-color:#ccc}
/*
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
*/
