<div class="w3-row" ng-init="autoSave=config_employee.autoSave;">
	<div class="w3-col m{{12-config_employee.dates_col}}">
		<div class="w3-container">
			Посада <select
				ng-model="config_info.msp_employee_doc.docbody.position"
				ng-change="autoSave.fn_change_count()">
				<option
					ng-repeat="(k,v) in mvpAddress.config.selectDictionary('POSITION').values"
					value="{{k}}">{{v}}</option>
			</select> Тип працівника <select
				ng-model="config_info.msp_employee_doc.docbody.employee_type"
				ng-change="config_employee.autoSave.fn_change_count()">
				<option
					ng-repeat="(k,v) in mvpAddress.config.selectDictionary('EMPLOYEE_TYPE').values"
					value="{{k}}">{{v}}</option>
			</select>
		</div>
		<div ng-include="'/f/mvp1/medic/msp2/employee/employee_party.html'">
		</div>
	</div>
	<div class="w3-col m{{config_employee.dates_col}} w3-card-2">
		<header class="w3-right-align w3-light-grey w3-tiny">
			<b> дати </b>
		</header>
		<div ng-repeat="d2e_param in config_employee.keys_dates"
			ng-init="v_d=config_employee.dates_name[d2e_param];d2e_obj=config_info.msp_employee_doc.docbody"
			ng-include="'/f/mvp1/medic/msp2/employee/employee_date.html'">
		</div>
	</div>
</div>
