<div class="w3-container">
	<div class="w3-card-2">
		<header class="w3-light-gray w3-tiny">
			<b> Картка лікаря </b>
		</header>
		<b> Лікар: </b> 
		<input 
		ng-change="autoSave.fn_change_count()"
			placeholder="Прізвище" class="w3-border"
			ng-model="config_info.msp_employee_doc.party.last_name"> 
		<input
			ng-change="autoSave.fn_change_count()" placeholder="Ім'я"
			class="w3-border" ng-model="config_info.msp_employee_doc.party.first_name">
		<input ng-change="autoSave.fn_change_count()"
			placeholder="По батькові" class="w3-border"
			ng-model="config_info.msp_employee_doc.party.second_name">
		Стать
		<select 
		ng-change="autoSave.fn_change_count()"
		ng-model="config_info.msp_employee_doc.party.gender">
			<option ng-repeat="(k,v) in mvpAddress.config.selectDictionary('GENDER').values"
				value="{{k}}">{{v}}</option>
		</select>
		<div>
			Ідентифікаційний номер
			<input ng-change="autoSave.fn_change_count()"
				placeholder="Ідентифікаційний номер" class="w3-border"
				ng-model="config_info.msp_employee_doc.party.tax_id">
		</div>
		<div>
			Емайл 
			<input ng-change="autoSave.fn_change_count()"
				placeholder="Емайл" class="w3-border"
				ng-model="config_info.msp_employee_doc.party.email">
		</div>
		<div ng-include="'/f/mvp1/lib/documents_dialog.html'"
			ng-init="obj=config_info.msp_employee_doc.party;"></div>

		<div class="w3-row-padding"
			ng-init="phoneList_o=config_info.msp_employee_doc.party;phoneList_k='phones'"
			ng-include="'/f/mvp1/lib/phone_dialog_row.html'"></div>

		<div ng-include="'/f/mvp1/medic/msp2/employee/employee_doctor.html'"
			ng-init="doctor=config_info.msp_employee_doc.doctor"></div>
	</div>
</div>
