<div class="w3-container">
	<div class="w3-card-2">
		<header class="w3-light-gray w3-tiny">
			<b> Картка лікаря </b>
		</header>
		<b>
		Лікар:
		</b>
		<input ng-change="config_msp.autoSave.fn_change_count()"
			placeholder="Призвище" class="w3-border"
			ng-model="doc_employee.data.party.last_name"> 
		<input
			ng-change="config_msp.autoSave.fn_change_count()" placeholder="Ім'я"
			class="w3-border" ng-model="doc_employee.data.party.first_name">
		<input ng-change="config_msp.autoSave.fn_change_count()"
			placeholder="По батькові" class="w3-border"
			ng-model="doc_employee.data.party.second_name">
		Стать
		<select ng-model="doc_employee.data.party.gender">
		<option ng-repeat="(k,v) in mvpAddress.config.selectDictionary('GENDER').values"
					value="{{k}}">{{v}}</option>
		</select>
		Ідентифікаційний номер 
		<input ng-change="config_msp.autoSave.fn_change_count()"
			placeholder="Ідентифікаційний номер" class="w3-border"
			ng-model="doc_employee.data.party.tax_id">
		<div>
			Емайл 
			<input ng-change="config_msp.autoSave.fn_change_count()"
				placeholder="Емайл" class="w3-border"
				ng-model="doc_employee.data.party.email">
		</div>

		<div class="w3-row-padding">
			<div class="w3-quarter ">
				<div class="w3-right">
					<b> Телефони </b>
				</div>
			</div>
			<div class="w3-threequarter">
				<div ng-repeat="phone in doc_employee.data.party.phones track by $index"
					ng-init="phoneList=doc_employee.data.party.phones"
					ng-include="'/f/mvp1/lib/phone_dialog.html'"></div>
				<!-- 
		<div ng-repeat="phone in v.phones">
		{{phone}}
		</div>
		 -->
			</div>
		</div>
		--
<div class="w3-row-padding" ng-repeat="(k,v) in doc_employee.data.party">
	<div class="w3-quarter">
		<div class="w3-right-align">{{k}}</div>
	</div>
	<div class="w3-threequarter">-{{v}}-</div>
</div>
	</div>
</div>
<!-- 
{{doc_employee.data.party}}
 -->
