<div class="">
	<b> {{1+$index}}. </b> 
	№ сертифіката 
	<input
		ng-change="config_employee.autoSave.fn_change_count()"
		placeholder="№ сертифіката" class="w3-border"
		ng-model="doc.certificate_number">
	<div>
		Спеціальність <select ng-model="doc.speciality">
			<option
				ng-repeat="(k,v) in mvpAddress.config.selectDictionary('SPECIALITY_TYPE').values"
				value="{{k}}">{{v}}</option>
		</select> Категорія <select ng-model="doc.level">
			<option
				ng-repeat="(k,v) in mvpAddress.config.selectDictionary('SPECIALITY_LEVEL').values"
				value="{{k}}">{{v}}</option>
		</select>
	</div>
	<div>
		<span title="Тип підтвердження кваліфікації"> Курси </span> <select
			ng-model="doc.qualification_type">
			<option
				ng-repeat="(k,v) in mvpAddress.config.selectDictionary('QUALIFICATION_TYPE').values"
				value="{{k}}">{{v}}</option>
		</select>
	</div>

	<div>
		Установа що видала
		<textarea ng-change="config_employee.autoSave.fn_change_count()" row="2"
			placeholder="Установа що видала" class="w3-border"
			ng-model="doc.attestation_name"></textarea>
	</div>
	<div>
		Рік видачі <input ng-change="config_employee.autoSave.fn_change_count()"
			class="w3-border" ng-model="doc.attestation_date"> Дійсний до
		<input ng-change="config_employee.autoSave.fn_change_count()"
			class="w3-border" ng-model="doc.valid_to_date"> року
	</div>
	<label> Комісія <input
		ng-change="config_employee.autoSave.fn_change_count()" type="checkbox"
		ng-model="doc.speciality_officio">
	</label>

</div>
<!-- 
{{doc}}
 -->