<span> <span class="am-u">
		{{mvpAddress.config.selectDictionary('EDUCATION_DEGREE').values[doc.degree]}}</span>
	<span
	ng-if="!mvpAddress.config.selectDictionary('EDUCATION_DEGREE').values[doc.degree]">
		_<span class="am-u w3-text-gray">тип диплома</span>__
</span>
</span>
Диплом №
<span> {{doc.diploma_number}} <span ng-if="!doc.diploma_number">
		___________ </span>
</span>
Спеціальність:
<span>
	{{mvpAddress.config.selectDictionary('SPECIALITY_TYPE').values[doc.speciality]}}
	<span
	ng-if="!mvpAddress.config.selectDictionary('SPECIALITY_TYPE').values[doc.speciality]">
		___________ </span>
</span>
Установа що видала:
<span> {{doc.institution_name}} <span
	ng-if="!doc.institution_name"> ___________ </span>
</span>
Місто 
<span> {{doc.city}} <span
	ng-if="!doc.city"> ___________ </span>
</span>
Рік видачі
<span> {{doc.issued_date}} <span ng-if="!doc.issued_date">
		___________ </span>
</span>
