<!-- 
<h3>Освіта</h3>
 -->
<h3>Документи</h3>

<div class="w3-row-padding"
	ng-repeat="(k1,v1) in config_info.msp_employee_doc.docbody.doctor"
ng-class="{'w3-card-2':k1=='educations' || k1=='specialities'}"
	>
	<div class="w3-col m2">
		<b> {{mvpAddress.config.type[k1]}} </b>
	</div>
	<div class="w3-col m10">
		<div ng-if="'science_degree'==k1"
			ng-init="doc=v1"
			ng-include="'/f/mvp1/medic/msp2/employee/employee_doctor_'+k1+'.html'"></div>
		<div ng-if="'science_degree'!=k1">
		<!-- 
		{{k1}}
		 -->
			<div ng-repeat="doc in v1">
				<div
					ng-include="'/f/mvp1/medic/msp2/employee/employee_doctor_'+k1+'.html'"></div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- 
-- {{config_info.msp_employee_doc.docbody.educations}}
 -->
