<div class="w3-right-align w3-small">
	<b>{{v_d.title}}</b>
</div>
<div class="w3-right-align w3-hover-gray"
	ng-click="config_employee.fn.clickable_edit_date.open(k_d, v_obj)">
	{{v_e | date : 'short'}}</div>
<div ng-if="config_employee.fn.clickable_edit_date.key_opened==k_d"
	class="w3-border w3-border-green w3-card-4 w3-display-container">
	<span ng-click="config_employee.fn.clickable_edit_date.open(k_d, v_obj)"
		class="w3-button w3-display-topright w3-tiny">×</span>
	<p>
	<div ng-init="d2e_param=k_d;d2e_obj=v_obj;prefix=''" ng-include="'/f/mvp1/lib/d2e_dialog.html'">
	</div>
	</p>
	<p>
	&nbsp;
	</p>
	<p>
	<div class="w3-display-bottomright w3-tiny">
		<a class="w3-btn w3-blue"
			ng-click="config_employee.fn.clickable_edit_date.open(k_d, v_obj)">Закрити
		</a>
	</div>
	</p>
</div>
