<div class="w3-right-align w3-small">
	<b>{{v_d.title}}</b>
</div>
<div class="w3-right-align w3-hover-gray"
	ng-click="config_employee.fn.clickable_edit_date.open(d2e_param, d2e_obj)">
	<!-- 
	{{d2e_param}}
	{{d2e_obj[d2e_param]}}
	 -->
	{{d2e_obj[d2e_param] | date : 'short'}}</div>
<div ng-if="config_employee.fn.clickable_edit_date.key_opened==d2e_param"
	class="w3-border w3-border-green w3-card-4 w3-display-container">
	<span
		ng-click="config_employee.fn.clickable_edit_date.open(d2e_param, d2e_obj)"
		class="w3-button w3-display-topright w3-tiny">×</span>
	<p>
	<div ng-init="prefix=''"
		ng-include="'/f/mvp1/lib/d2e_dialog.html'"></div>
	</p>
	<p>&nbsp;</p>
	<p>
	<div class="w3-display-bottomright w3-tiny">
		<a class="w3-btn w3-blue"
			ng-click="config_employee.fn.clickable_edit_date.open(d2e_param, v_obj)">Закрити
		</a>
	</div>
	</p>
</div>
