<!DOCTYPE html>
<html ng-app="mvp1App" ng-controller="Mvp1Ctrl as mvp1Ctrl">
<title>еМедік</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="/f/w3/w3.css" rel="stylesheet" />
<script src="/webjars/angularjs/1.6.0/angular.min.js"></script>
<script src="/webjars/angularjs/1.6.0/angular-sanitize.min.js"></script>
<script src="/f/js/amLib.js"></script>
<script src="/f/js/mvp1InitAllServer.js"></script>
<script src="/f/js/mvp1InitAll-medic.js"></script>
<script src="/f/js/mvp1App-medic.js"></script>
<body>
<div ng-include="'/f/mvp1/medic/menuBar.html'"></div>
<div th:attr="ng-include=${ng_template}"></div></body>
</html>