<table class="w3-table">
	<colgroup>
		<col style="width:40%">
		<col style="width:60%">
	</colgroup>
	<thead>
		<tr class="w3-yellow w3-border">
			<th>Лікарі лікувального закладу</th>
			<th>Посади/ролі/логіни</th>
		</tr>
	</thead>
	<tbody ng-repeat="e in config_info.msp_employee.msp_employee_list">
		<tr class="w3-border w3-hover-gray" title="{{e.person_id}}"
		ng-class="{'w3-leftbar w3-border-green':config_info.msp_employee_doc.doc_id==e.person_id}"
			ng-click="config_info.click_msp_employee(e)"
			>
			<td title="{{e.person_id}}">
			{{e.family_name?e.family_name:e.last_name}} 
			{{e.first_name}}
				{{e.second_name}}
				</td>
			<td><span ng-repeat="r in e.roles">
					{{fnPrincipal.dbRolesMap[r.role_id].role_sort}} 
					<!-- 
					{{1 +config_msp_all.info.login.role.keys().indexOf(r.role_id)}} 
					{{r}}
					 -->
					-
					{{config_msp_all.info.login.role[r.role_id].name}}{{$last?'.':','}}
					
			</span></td>
		</tr>
		
		<tr ng-if="config_info.msp_employee_doc.doc_id==e.person_id">
			<td>
				<div ng-if="fnPrincipal.hasHumanResourcesRole()">
					<!-- 
					<button ng-click="config_msp_all.fn_open_dialog('opened_card')"
						class="w3-btn w3-border">
						Відкрити картку: <span class="w3-small">
							{{config_msp_all.human_resources_department.fn_opened_card_name()}}
						</span>
					</button>
					 -->
					<a href="#employee={{e.person_id}}"
						ng-click="config_msp_all.fn_open_dialog('opened_card')"
						class="w3-btn w3-border"> Відкрити картку: <span
						class="w3-small">
							{{config_msp_all.human_resources_department.fn_opened_card_name()}}
					</span>
					</a>
				</div>
			</td>
			<td>
				<div ng-if="!fnPrincipal.hasHumanResourcesRole()">
					<div ng-if="fnPrincipal.hasLoginRole('ROLE_WAITING_FOR_CONFIRMATION',e.roles,'role_id')">
						Очікується підтвердження заявки на логін. Зверніться в відділ
						кадрів.</div>
				</div>
				<div ng-if="fnPrincipal.hasHumanResourcesRole()">
					<div ng-if="fnPrincipal.hasLoginRole('ROLE_WAITING_FOR_CONFIRMATION',e.roles,'role_id')">
						<b> Підтвердитит логін: </b>
						<button
							ng-click="config_msp_all.human_resources_department.fn_add_login(e, 'ROLE_USER')"
							class="w3-btn w3-border">Перевести в логін лікаря</button>
					</div>
					<a class="w3-btn w3-hover-gray"
						title="Додати інші ролі і права доступу" href="#"
						ng-click="config_msp_all.human_resources_department.fn_click_extendRoles()">+/-</a>
					<div ng-if="config_msp_all.human_resources_department.extendRoles">
						<i class="w3-small"> Після +/- ролі, потрібна перезагрузка
							сторінки. </i>
						<table>
							<colgroup>
								<col style="width: 10%">
								<col style="width: 30%">
								<col style="width: 60%">
							</colgroup>
							<tr ng-repeat="role in fnPrincipal.dbRoles"
								ng-mouseover="config_msp_all.human_resources_department.mouseover_role=role.role_id"
								class="w3-hover-gray">
								<td title="{{1+$index}}">{{role.role_sort}}</td>
								<td
									ng-class="{'w3-green':fnPrincipal.hasLoginRole(role.role_id,e.roles)}">{{role.role_note}}
								</td>
								<td>
									<div
										ng-if="config_msp_all.human_resources_department.mouseover_role==role.role_id
										&&
										config_msp_all.human_resources_department.fn_i_allow_change_role(role)
										">
										<a class="w3-btn w3-hover-red"
											title="Додати роль і права доступу" href="#"
											ng-click="config_msp_all.human_resources_department.fn_plus_role(e, role)">+</a>
										<a class="w3-btn w3-hover-red"
											title="Відняти роль і права доступу" href="#"
											ng-click="config_msp_all.human_resources_department.fn_minus_role(e, role)">-</a>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
		</tr>
		<tr ng-if="config_info.msp_employee_doc.doc_id==e.person_id">
			<td colspan="2">
			<i class="w3-small"> Після +/- ЛЗ, потрібна перезагрузка
					сторінки. </i>
				<ul>
					<li ng-if="e.msps.length>0">Лікувальні заклади працівника
						<div class="w3-hover-gray" ng-repeat="msp in e.msps">{{msp.msp_name}}
						</div>
					</li>
					<li>Додати лікувальний заклад
						<div class="w3-hover-gray" ng-repeat="msp in principal.user_msp"
							ng-if="e.msps_ids.indexOf(msp.msp_id)<0">
							<span class="w3-tooltip"> {{msp.msp_name}} 
								<span class="w3-blue w3-text w3-tag am-tooltip-text"> 
									<span class="w3-btn"
									ng-click="config_msp_all.personal_page.dialogs.personal_area
							.fn_click_seek_msp(msp,{username:e.username})"
									title="Додати ЛПЗ">+</span>
							</span>
							</span>
						</div>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
