<table class="w3-table">
	<thead>
		<tr class="w3-yellow w3-border">
			<th>Лікарі лікувального закладу</th>
			<th>Посади/ролі/логіни</th>
		</tr>
	</thead>
	<tbody
			ng-repeat="e in config_info.msp_employee.msp_employee_list"
	>
		<tr class="w3-border w3-hover-gray" title="{{e.person_id}}"
		ng-class="{'w3-leftbar w3-border-green':config_info.msp_employee_doc.doc_id==e.person_id}"
			ng-click="config_info.click_msp_employee(e)">
			<td title="{{e.person_id}}">
			{{e.family_name?e.family_name:e.last_name}} 
			{{e.first_name}}
				{{e.second_name}}</td>
			<td><span ng-repeat="r in e.roles"> {{1 +
					config_msp_all.info.login.role.keys().indexOf(r.role_id)}} -
					{{config_msp_all.info.login.role[r.role_id].name}}{{$last?'.':','}}
			</span></td>
		</tr>
		<tr ng-if="config_info.msp_employee_doc.doc_id==e.person_id">
			<td colspan="2">
				<div ng-if="fnPrincipal.hasRole('ROLE_HEAD_HUMAN_RESOURCES')">
					<button ng-click="config_msp_all.fn_open_dialog('opened_card')"
						class="w3-btn w3-border">
						Відкрита картка: <span class="w3-small">
							{{config_msp_all.human_resources_department.fn_opened_card_name()}}
						</span>
					</button>
				</div>
			</td>
		</tr>
		<tr ng-if="config_info.msp_employee_doc.docbody.doc_id==e.person_id">
			<td class="2">
				{{config_info.msp_employee_doc.docbody.data.party.phones[0].number}}
				{{fnPrincipal.hasRole('ROLE_HEAD_HUMAN_RESOURCES')}}
			
			
			</td>
		</tr>
	</tbody>
</table>

{{config_info.msp_employee_selected.person_id}}
<!-- 
{{config_info.msp_employee_doc}}
{{config_info.msp_employee}}
 -->