<table class="w3-table">
	<thead>
		<tr class="w3-yellow w3-border">
			<th>Лікарі лікувального закладу</th>
			<th>Посади/ролі/логіни</th>
		</tr>
	</thead>
	<tbody ng-repeat="e in config_info.msp_employee.msp_employee_list">
		<tr class="w3-border w3-hover-gray" title="{{e.person_id}}"
		ng-class="{'w3-leftbar w3-border-green':config_info.msp_employee_doc.doc_id==e.person_id}"
			ng-click="config_info.click_msp_employee(e)">
			<td title="{{e.person_id}}">
			{{e.family_name?e.family_name:e.last_name}} 
			{{e.first_name}}
				{{e.second_name}}</td>
			<td><span ng-repeat="r in e.roles"> {{1 +
					config_msp_all.info.login.role.keys().indexOf(r.role_id)}} -
					{{config_msp_all.info.login.role[r.role_id].name}}{{$last?'.':','}}
			</span></td>
		</tr>
		<tr ng-if="config_info.msp_employee_doc.doc_id==e.person_id">
			<td>
				<div ng-if="fnPrincipal.hasHumanResourcesRole()">
					<button ng-click="config_msp_all.fn_open_dialog('opened_card')"
						class="w3-btn w3-border">
						Відкрити картку: <span class="w3-small">
							{{config_msp_all.human_resources_department.fn_opened_card_name()}}
						</span>
					</button>
				</div>
			</td>
			<td>
				<div ng-if="!fnPrincipal.hasHumanResourcesRole()">
					<div
						ng-if="fnPrincipal.hasLoginRole('ROLE_WAITING_FOR_CONFIRMATION',e.roles,'role_id')">
						Очікується підтвердження заявки на логін. Зверніться в відділ
						кадрів.</div>
				</div>
				<div ng-if="fnPrincipal.hasHumanResourcesRole()">
					<div
						ng-if="fnPrincipal.hasLoginRole('ROLE_WAITING_FOR_CONFIRMATION',e.roles,'role_id')">
						<b> Підтвердитит логін: </b>
						<button
							ng-click="config_msp_all.human_resources_department.fn_add_login(e, 'ROLE_USER')"
							class="w3-btn w3-border">Перевести в логін лікаря</button>
					</div>
					<a class="w3-btn w3-hover-gray"
						title="Додати інші ролі і права доступу" href="#"
						ng-click="config_msp_all.human_resources_department.fn_click_extendRoles()">+/-</a>
					<div ng-if="config_msp_all.human_resources_department.extendRoles">
						<table>
							<tr
								ng-repeat="role in config_msp_all.human_resources_department.dbRoles"
								ng-mouseover="config_msp_all.human_resources_department.mouseover_role=role.role_id"
								class="w3-hover-gray">
								<td>{{1+$index}}</td>
								<td
									ng-class="{'w3-green':fnPrincipal.hasLoginRole(role.role_id,e.roles)}">{{role.role_note}}
								</td>
								<td>
									<div
										ng-if="config_msp_all.human_resources_department.mouseover_role==role.role_id">
										<a class="w3-btn w3-hover-red"
											title="Додати роль і права доступу" href="#"
											ng-click="config_msp_all.human_resources_department.fn_plus_role(role)">+</a>
										<a class="w3-btn w3-hover-red"
											title="Відняти роль і права доступу" href="#"
											ng-click="config_msp_all.human_resources_department.fn_minus_role(role)">-</a>
										<a class="w3-btn w3-hover-red"
											title="Відняти роль і права доступу" href="#"
											ng-click="config_msp_all.human_resources_department.fn_i_allow_change_role(role)">?</a>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
