<div class="w3-row-padding">
	<div class="w3-quarter">
	<b
	ng-class="{'w3-orange':last_registry_error.map.medical_service_provider.accreditation}"
	>Рівень</b>
		<select ng-model="v.accreditation.category"
			ng-change="autoSave.fn_change_count()">
			<option ng-repeat="t in mvpAddress.config.accreditation_types"
				value="{{t}}">{{mvpAddress.config.type[t]}}</option>
		</select>
	</div>
	<div class="w3-threequarter">
		<b> Регістраційний № </b> <input ng-change="autoSave.fn_change_count()"
			type="text" class="w3-border" ng-model="v.accreditation.order_no">
		<div>
		<span ng-repeat="kda in mvpAddress.config.edit.dates_accreditation"
				ng-init="d=mvpAddress.config.edit.date_types[kda]">
			<span ng-init="d2e_param=kda;d2e_obj=v.accreditation;prefix=d.p" ng-include="'/f/mvp1/lib/d2e_dialog.html'">
			</span>{{$last?'':','}}
		</span>
		</div>
	</div>
</div>

<div ng-repeat="license in v.licenses" >
	<div class="w3-row-padding">
		<div class="w3-quarter">
			<span ng-if="$first"> <a title="Додати Запис в розділі"
				class="w3-btn w3-hover-gray" href="#"
				ng-click="mvpAddress.config.plusListElement(v,'licenses');autoSave.fn_change_count();">+</a>
				<b
				ng-class="{'w3-orange':last_registry_error.map.medical_service_provider.licenses}"
				> Ліцензії: </b>
			</span>
			<div class="w3-right w3-hover-gray">
				<a href="#" ng-click="mvpAddress.config.edit.openLicense($index)"
				ng-class="{'w3-orange':last_registry_error.map.medical_service_provider.licenses['['+$index+']']}"
				> {{1 + $index}}. </a>
			</div>
		</div>
		<div class="w3-threequarter">
			<div class="w3-hover-gray"
				ng-class="{'w3-rightbar w3-topbar w3-border-green':mvpAddress.config.edit.license==$index}"
			>
				<span class="w3-btn w3-border w3-red"
				ng-if="mvpAddress.config['index_to_delete_licenses']==$index"
							ng-click="mvpAddress.config.minusListElement(v.licenses, $index, 'licenses');autoSave.fn_change_count();"
						 title="Справді Видалити запис">-</span>
				<span class="w3-tooltip" 
					ng-click="mvpAddress.config.edit.openLicense($index)"
				>
					<span class="w3-light-gray w3-border w3-text w3-tag am-tooltip-text">
						<span class="w3-btn"
						ng-if="!($first && $last)"
							ng-click="mvpAddress.config.toMinusListElement('licenses', $index);"
						 title="Видалити запис">-</span>
						<span class="w3-btn" ng-if="!$first" 
							ng-click="mvpAddress.config.upListElement(v.licenses, $index);autoSave.fn_change_count();"
						 title="Перенести запис на перше місце">^</span>
					</span>
					<b> № </b> <span ng-if="!license.license_number">
						_____________ </span><span class="am-u">{{license.license_number}}</span>, <b
						class="w3-small">Орган що видав:</b> <span
						ng-if="!license.issued_by"> _____________ </span><span class="am-u">{{license.issued_by}}</span>,
					<span ng-repeat="kda in mvpAddress.config.edit.dates_license"
						ng-init="d=mvpAddress.config.edit.date_types[kda]"> {{d.p}}
						{{license[kda] | date : 'shortDate'}} </span>
				</span>
			</div>
			<div class="w3-border w3-border-green w3-card-4 w3-display-container"
				ng-if="mvpAddress.config.edit.license==$index">
				<span ng-click="mvpAddress.config.edit.openLicense($index)"
					class="w3-button w3-display-topright">×</span> 
					<b> № </b>
					<input
					ng-change="autoSave.fn_change_count()" type="text"
					class="w3-border" ng-model="license.license_number">,
				<br /> <b class="w3-small">Орган що видав:</b> <input
					ng-change="autoSave.fn_change_count()" type="text"
					class="w3-border" ng-model="license.issued_by">
				<div>
					<span ng-repeat="kda in mvpAddress.config.edit.dates_license"
						ng-init="d=mvpAddress.config.edit.date_types[kda]">
						<span ng-init="d2e_param=kda;d2e_obj=license;prefix=d.p" ng-include="'/f/mvp1/lib/d2e_dialog.html'">
						</span>{{$last?'':','}}
					</span>
				</div>
				<p>
					<div class="w3-display-bottomright">
					<a class="w3-btn w3-blue"
						ng-click="mvpAddress.config.edit.openLicense($index)">Закрити </a>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>
