<input ng-change="autoSave.fn_change_count()"
	placeholder="Прізвище" class="w3-border" ng-model="v.last_name">
<input ng-change="autoSave.fn_change_count()"
	placeholder="Ім'я" class="w3-border" ng-model="v.first_name">
<input ng-change="autoSave.fn_change_count()"
	placeholder="По батькові" class="w3-border" ng-model="v.second_name">
<br/>
<span ng-init="d2e_param='birth_date';d2e_obj=v;prefix='д.н.'" ng-include="'/f/mvp1/lib/d2e_dialog.html'"></span>

Місце народження
<input ng-change="autoSave.fn_change_count()"
	placeholder="Місце народження" class="w3-border" ng-model="v.birth_place">
<br/>
<div class="w3-row-padding">
	<div class="w3-quarter ">
		<div class="w3-right">
			<b> ід.нр. </b>
		</div>
	</div>
	<div class="w3-threequarter">
		<input ng-change="autoSave.fn_change_count()" type="text"
			class="w3-border" ng-model="v.tax_id">
	</div>
</div>

<div ng-include="'/f/mvp1/lib/documents_dialog.html'"
	ng-init="obj=v"></div>

<div class="w3-row-padding">
	<div class="w3-quarter ">
		<div class="w3-right">
			<b> Телефони </b>
		</div>
	</div>
	<div class="w3-threequarter">
		<div ng-repeat="phone in v.phones track by $index" ng-init="phoneList=v.phones"
				ng-include="'/f/mvp1/lib/phone_dialog.html'"></div>
	</div>
</div>

