<input ng-change="autoSave.fn_change_count()"
	placeholder="Прізвище" class="w3-border" ng-model="v.last_name">
<input ng-change="autoSave.fn_change_count()"
	placeholder="Ім'я" class="w3-border" ng-model="v.first_name">
<input ng-change="autoSave.fn_change_count()"
	placeholder="По батькові" class="w3-border" ng-model="v.second_name">
<br/>

<span ng-class="{'w3-orange':last_registry_error.map.owner.gender}">
	Стать: </span>
<span class="w3-hover-gray" ng-click="v.gender='MALE';autoSave.fn_change_count()"
	ng-class="{'b':'MALE'==v.gender}">Ч</span>
/
<span ng-click="v.gender='FEMALE';autoSave.fn_change_count()" class="w3-hover-gray"
	ng-class="{'b':'FEMALE'==v.gender}">Ж</span>,

<span ng-init="d2e_param='birth_date';d2e_obj=v;prefix='д.н.'" ng-include="'/f/mvp1/lib/d2e_dialog.html'"></span>

Місце народження
<input ng-change="autoSave.fn_change_count()"
	placeholder="Місце народження" class="w3-border" ng-model="v.birth_place">
<br/>
<div class="w3-row-padding">
	<div class="w3-quarter ">
		<div class="w3-right">
			<b
			ng-class="{'w3-orange':last_registry_error.map.owner.tax_id}"
			> ід.нр. </b>
		</div>
	</div>
	<div class="w3-threequarter">
		<input ng-change="autoSave.fn_change_count()" type="text"
			class="w3-border" ng-model="v.tax_id">
	</div>
</div>
<div class="w3-row-padding">
	<div class="w3-quarter ">
		<div class="w3-right">
			<b
			ng-class="{'w3-orange':last_registry_error.map.owner.email}"
			> Ел.пошта </b>
		</div>
	</div>
	<div class="w3-threequarter">
		<input ng-change="autoSave.fn_change_count()" type="text"
			class="w3-border" ng-model="v.email">
	</div>
</div>

<div ng-include="'/f/mvp1/lib/documents_dialog.html'"
	ng-init="obj=v"></div>

	<div ng-init="phoneList_o=v;phoneList_k='phones';error_phones=last_registry_error.map.owner.phones"
			ng-include="'/f/mvp1/lib/phone_dialog_row.html'"></div>

<!-- 
<div class="w3-row-padding">
	<div class="w3-quarter ">
		<div class="w3-right">
			<b> Телефони </b>
		</div>
	</div>
	<div class="w3-threequarter">
		<div ng-repeat="phone in v.phones track by $index" ng-init="phoneList=v.phones"
				ng-include="'/f/mvp1/lib/phone_dialog.html'"></div>
	</div>
</div>
 -->

