<div class="w3-container">

	<div ng-include="'/f/mvp1/medic/reg/registry-head.html'"></div>

	<div class="w3-card-2">
		<header class="w3-light-gray w3-container">
			<span class="w3-circle w3-border w3-green">&nbsp;1&nbsp;</span>
			Реєстрація державного провайдера медичних послуг <span
				class="w3-right w3-hover-gray"
				ng-click="config_msp_all.registry_msp_dialog_open=!config_msp_all.registry_msp_dialog_open">_</span>
		</header>
		<div class="w3-red" ng-if="!fnPrincipal.hasAdminMSPRole()">
		Реєстрація лікувального закладу дозволена тільки з правами адміністратора
		</div>
		<div ng-if="fnPrincipal.hasAdminMSPRole()">
			<div ng-if="!config_msp_all.registry_msp_dialog_open">
				<h3 class="w3-hover-gray"
				ng-click="config_msp_all.registry_msp_dialog_open=!config_msp_all.registry_msp_dialog_open"
				>{{api__legal_entities.short_name}}</h3>
			</div>
			<div ng-if="config_msp_all.registry_msp_dialog_open">
				<div ng-include="'/f/mvp1/medic/msp2/menu_registry.html'"></div>
	<!-- 
	{{config_msp.menu_registry}}
				<div ng-include="'/f/mvp1/medic/msp/msp_registry_data_'+config_msp.menu_registry.step+'.html'"></div>
	 -->
				<div ng-include="'/f/mvp1/medic/msp2/msp_registry_data_'+config_msp.menu_registry.step+'.html'"></div>
			
			</div>
		</div>
	</div>

	<div class="w3-card-2">
		<header class="w3-light-gray w3-container">
		<span class="w3-circle w3-border w3-yellow">&nbsp;2&nbsp;</span>
		 ...лікаря
		 <span class="w3-right w3-hover-gray"
				ng-click="config_msp_all.registry_doctor_dialog_open=!config_msp_all.registry_doctor_dialog_open">_</span>
		 </header>
		 Реєстрація лікарів в БД eHealth знаходиться на сторінці <a
			href="/v/human-resources-department"> відділ кадрів </a> і доступна для користувача з правами зав. відділом кадрів.
		<!-- 
		<div ng-if="!config_msp_all.registry_doctor_dialog_open">
			Після вибору лікарні відкриється вибір лікарів цієї лікарні.
		</div>
		<div ng-if="config_msp_all.registry_doctor_dialog_open">
			<div ng-include="'/f/mvp1/medic/msp2/employee/employee.html'"></div>
		</div>
		 -->
	</div>

	<div class="w3-card-2">
		<header class="w3-light-gray w3-container">
			<span class="w3-circle w3-border w3-yellow">&nbsp;3&nbsp;</span>
			...пацієнта <span class="w3-right w3-hover-gray"
				ng-click="config_msp_all.registry_patient_dialog_open=!config_msp_all.registry_patient_dialog_open">_</span>
		</header>
<h4>
		Більш інтенсивно розвивається інша сторінка декларації пацієнта
		<a href="/v/moz-declaration"> переглід</a> і <a
			href="/v/moz-declaration-edit">редакція</a>.
</h4>
<hr/>
		<div ng-if="!config_msp_all.registry_patient_dialog_open">--</div>
		<div ng-if="config_msp_all.registry_patient_dialog_open"
			ng-include="'/f/mvp1/medic/msp2/declaration/declaration.html'">
		</div>
	</div>

</div>
