<div class="w3-container">
	<!-- 
	<h2>Модель робочого місця лікаря первинної ланки</h2>
	<h2>ПМД "Поділля - Проспект миру"</h2>
 -->
	<a 
	ng-if="!principal.principal"
	href="/v/personal-page">
		<div ng-include="'/f/mvp1/lib/enter_to_app_head.html'"></div>
	</a>
	<h2>
		<i class="fa fa-hospital-o" aria-hidden="true"></i> 
		<i class="w3-text-light-gray" ng-if="!principal.principal">Назва лікувального
			закладу де ви працюєте</i> {{principal.user_msp[0].msp_name}} 
		<a href="/v/admin-msp" class="w3-green"
			ng-if="0==principal.user_msp.length && fnPrincipal.hasAdminMSPRole()">
			Створіть новий лікувальний заклад </a> 
			<i ng-click="modalMspList('id02_msp_list')"
			class="fa fa-list-alt w3-hover-text-yellow" aria-hidden="true"></i>
		</span>
	</h2>
	<div class="w3-card-2">
		<header class="w3-container w3-light-grey w3-small">
			<b> Реєстратура цПМСД</b>
		</header>
		Робоче місце м/с реєстратути
		<div class="w3-bar w3-light-gray">
			<div class="w3-bar-item w3-hover-green">
				<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
				<!-- 
			<i class="fa fa-address-book" aria-hidden="true"></i>
			 -->
				Запис пацієнта на прийом
			</div>
			<div class="w3-bar-item w3-hover-gray"
				ng-click="openUrl('/v/testMvpCalendar')">
				<i class="fa fa-calendar" aria-hidden="true"></i> Календар
			</div>
			<div class="w3-bar-item w3-hover-gray">Пошук пацієнта</div>
		</div>
	</div>
	<div>
	&nbsp;
	</div>
	<div class="w3-row">
		<div class="w3-half w3-container">
			<div class="w3-card-2">
				<header class="w3-container w3-light-grey">
					<i class="fa fa-wrench w3-orange" aria-hidden="true"></i>
					Кабінет лікуючого лікаря
				</header>
				<ul class="w3-ul">
					<li ng-repeat="d in config_msp_all.doctor_list"
						class="w3-hover-gray"><a
						href="/v/cabinet?doctor_index={{$index}}&x=y"> {{d.name}} </a></li>
				</ul>
			</div>
		</div>
		<div class="w3-half w3-container">
			<div class="w3-card-2">
				<header class="w3-container w3-light-grey">
				<i class="fa fa-wrench w3-orange" aria-hidden="true"></i>
				Діагностичні кабінети</header>
				<ul class="w3-ul">
					<li ng-repeat="d in config_msp_all.diagnostic_cabinet_list"
						class="w3-hover-gray"><a
						href="/v/cabinet?doctor_index={{$index}}&x=y"> {{d.name}} </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
	&nbsp;
	</div>
	<div class="w3-card-2 ">
		<header class="w3-container w3-light-grey">Адміністрація</header>
		<i class="fa fa-wrench w3-orange" aria-hidden="true"></i>
		Робоче місце <b>eHealth Поліклініка</b>
		<div class="w3-bar w3-light-gray w3-small">
			<div class="w3-bar-item w3-hover-gray">
				<a href="/v/admin-msp">Адміністратор ЛЗ </a>
			</div>
			<div class="w3-bar-item w3-hover-gray">
				<a href="/v/human-resources-department"> Відділ кадрів </a>
			</div>
			<div class="w3-bar-item w3-hover-gray">Орг.метод відділ</div>
			<div class="w3-bar-item w3-hover-red">Зав.поліклінікою</div>
		</div>
	</div>
</div>
<div id="id02_msp_list" class="w3-modal">
	<div class="w3-modal-content">
		<span ng-click="closeModalDialog('id02_msp_list')"
			class="w3-button w3-display-topright">&times;</span> <a
			class="w3-btn w3-blue w3-display-bottomright"
			ng-click="closeModalDialog('id02_msp_list')">Закрити </a>
			<!-- 
		<p ng-repeat="msp in config_msp_all.msp_list"
			 -->
		<p ng-repeat="msp in principal.user_msp"
			class=" w3-hover-border-green w3-border w3-border-white">
			<a href="#"
				ng-click="config_msp_all.msp_index=$index;closeModalDialog('id02_msp_list');">
				{{msp.msp_id}} : {{msp.msp_public_name}} : {{msp.msp_name}} </a>
		</p>
		<p>&nbsp;</p>
		<div ng-if="!!principal || principal.user_msp.length">
			<p>&nbsp;</p>
			<p>Вибір іншого лікувального закладу, якщо більше одного місця
				роботи</p>
			<p>&nbsp;</p>
		</div>
	</div>
</div>
