<button
	class="w3-button w3-hover-deep-orange b w3-border-deep-orange w3-leftbar"
	ng-click="logEHealth=!logEHealth">
	<img src="/f/img/ehealth_ukraine_logo.svg" height="20"
		style="margin-bottom: 0; margin-top: -14px;" alt="#eHealth" title="#eHealth">
</button>
<div
	class="w3-dropdown-content w3-bar-block w3-card-4 w3-border w3-border-deep-orange"
	style="right: 10px" ng-class="{'w3-show':logEHealth}">
	<div>
		Автентифікáція і Логін в <span
			class="b w3-border-deep-orange w3-bottombar"> #eHealth </span>
		<div ng-if="principal.msp_access_token_body.data.details.scope">
		<b>
			права доступу:
		</b>
			<div ng-repeat="rw in principal.msp_access_token_body.data.details.scope.split(' ')">
			{{rw}}
			</div>
		</div>
		<div ng-if="!principal.msp_access_token_body.data.details.scope">
			<br /> за допомогою <img alt="ALGORITMED"
				src="/f/img/logo-algoritmed.png" height="20" class="w3-border">
			<br /> буде активований після завершення <br /> вашої реєстрації в
			<span class="b w3-border-deep-orange w3-bottombar"> #eHealth </span>
		</div>
	</div>
</div>
