<div class="w3-top no-print">
	<div class="w3-bar w3-light-gray w3-small">
		<a class="w3-bar-item w3-button"
			href="{{prevousPath()}}"> <i class="fa fa-arrow-circle-o-up"></i>
			<i class="fa fa-home" aria-hidden="true"></i>
		</a>
		<div ng-init="vParent='home'">
			<a ng-repeat="(k,v) in config" ng-if="v.parent == vParent && v.menuBar && k != 'info'"
				href="/v/{{k}}" class="w3-bar-item w3-button"
				ng-class="{'w3-green':menuHomeClicked(k)}">
				<i ng-if="v.fa" class="fa {{v.fa}}"></i>
				{{v.shortName}}
				<i ng-if="config.hasChild('menuHome', k)" class="fa fa-caret-down"></i>
			</a> 
			<span ng-if="!principal.principal"
				class="w3-bar-item w3-orange w3-dropdown-hover"> 
				<i class="fa fa-wrench" aria-hidden="true"></i>
				Демо <span
				class="w3-dropdown-content w3-border w3-orange"> <a
					class="w3-button" href="/v/personal-page"> Аутерізуйтесь </a>
					<div>Для перехода в робочу версію</div>
			</span>
			</span>
		</div>
		<div class="w3-dropdown-click w3-right">
			<!-- 
		{{config_msp_all.doctor_list[config_msp_all.doctor_index].name}}
		 -->
			<button class="w3-button w3-hover-deep-orange b w3-border-deep-orange w3-leftbar" ng-click="logEHealth=!logEHealth">
			#eHealth
			</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4"
				style="right: 0" ng-class="{'w3-show':logEHealth}">
				Аутентифікація і Логін в ALGORITMED <br /> 
				за допомогою #eHealth <br />
				буде активований після завершення <br /> 
				вашої реєстрації в
				#eHealth
			</div>
			<button class="w3-button w3-hover-red" ng-click="logLog=!logLog">
		<span class="w3-tiny">
				<!-- 
				{{principal.user.PIP}} 
				{{principal.principal.name}} 
				 -->
				{{principal.user.family_name}} 
				{{principal.user.first_name.substr(0,1)}}.{{principal.user.second_name.substr(0,1)}}. 
		</span>
				<i ng-if="principal.principal.name" class="fa fa-sign-out"></i> 
				<i ng-if="!principal.principal.name" class="fa fa-sign-in"></i> 
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4"
				style="right: 0" ng-class="{'w3-show':logLog}">
				<a href="/v/registry">
				<b>Логін діалог</b>
				</a>
				<div ng-if="principal.principal.name">
					<a href="/logout">Вийти з логін</a>
				</div>
				<div ng-include="'/f/mvp1/medic/loginForm.html'"></div>
			</div>
		</div>
		<a ng-repeat="(k,v) in config" ng-if="k == 'info'" href="/v/{{k}}"
			class="w3-bar-item w3-button w3-right"
			ng-class="{'w3-green':menuHomeClicked(k)}"> <i ng-if="v.fa"
			class="fa {{v.fa}}"></i> {{v.shortName}} <i
			ng-if="config.hasChild('menuHome', k)" class="fa fa-caret-down"></i>
		</a>
		<!-- 
		<a href="#" class="w3-bar-item w3-button w3-right w3-hover-red">
			{{principal.principal.name}}
			<i ng-if="principal.principal.name" class="fa fa-sign-out"></i>
			<i ng-if="!principal.principal.name" class="fa fa-sign-in"></i>
		</a>
 -->
	</div>
<!-- 
w3-3*.css
	<div class="w3-card-2" ng-include="'/f/mvp1/medic/menuHome.html'"></div>
 -->
	<!-- Navbar on small screens -->
	<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
		<ul class="w3-navbar w3-left-align w3-white">
			<li><a href="#"> menuBar.html </a></li>
			<li ng-repeat="(k,v) in config" ng-if="v.parent == 'holhome'"><a
				href="/v/{{k}}" onclick="toggleFunction()"> {{v.shortName}} 1 </a></li>
		</ul>
	</div>
</div>
<p class="no-print">&nbsp;</p>
<!-- 
<hr/>
 -->
