<div ng-include="'/f/mvp1/medic/cabinet-menu-line.html'"></div>
<div class="w3-container">
	<div class="w3-row-padding w3-margin-top">
		<div class="w3-threequarter">
			<div class="w3-card-2">
				<header class="w3-container w3-bar w3-light-grey w3-tiny">
					<div class="w3-bar-item">
						<b class="w3-orange"> Прийом:</b>
					</div>
					<div class="w3-bar-item w3-hover-grey"
						ng-click="newPatientHistoryRecord()">
						<i class="fa fa-pencil" aria-hidden="true"></i> Новий запис
					</div>
					<!-- 
					<div class="w3-bar-item w3-hover-grey">
						<a href="/v/patient?id={{param.id}}"> <i class="fa fa-pencil"
							aria-hidden="true"></i> Амбулаторна картка
						</a>
					</div>
					<div class="w3-bar-item w3-hover-grey"
						ng-class="{'w3-green':param.cabinet_part=='protocol'}"
						ng-click="newPatientHistoryRecord2()">
						<a href="/v/patient?id={{param.id}}&cabinet_part=protocol"> <i
							class="fa fa-stethoscope" aria-hidden="true"></i> Веденя хворого
						</a>
					</div>
					 -->
					<div class="w3-bar-item w3-hover-grey w3-right"
						ng-class="{'w3-green':param.cabinet_part=='druck'}"
					>
						<a href="/v/patient?id={{param.id}}&cabinet_part=druck"> <i
							class="fa fa-print" aria-hidden="true"></i>
							Друк
						</a> 
					</div>
				</header>
				<div ng-if="!param.cabinet_part"
					ng-include="'/f/mvp1/medic/patient/ambulatorna-kartka.html'">
					</div>
				<div ng-if="param.cabinet_part=='druck'">
					<span class="w3-orange"> in development </span>
					<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-small">
						<p>Гармонізація з паралельним паперовим веденям:
						
						<ul>
							<li><label> <input type="checkbox" name="vehicle"
									value="Bike">Друкування амбулаторної картки (паперова копія)</label></li>
							<li><label> <input type="checkbox" name="vehicle"
									value="Bike">Додрукування даних в паперову амбулаторну
									картку. Відступ зверху листа
							</label></li>
							<li><label> <input type="checkbox" name="vehicle"
									value="Bike">Друк ярликів і бланків.
							</label></li>


						</ul>
						</p>
					</div>
				</div>
				<div ng-if="param.cabinet_part=='protocol'">
					<span class="w3-orange"> in development </span>
					<div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue w3-small">
						<p>Протокол(и) по якому ведеться хворий:
						<ul>
							<li>позиція в протоколі згідно стану веденя хворого</li>
							<li>взаємодія з заповненям мед.документації, </li>
						</ul>
						</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-card-2">
				<div ng-include="'/f/mvp1/ng/protocol-list.html'"></div>
			</div>
		</div>
	</div>
</div>
