<div class="w3-container">
	<div class="w3-row-padding w3-margin-top">
		<div class="w3-threequarter">
			<div>
				<span class="w3-small">Пацієнт на прийомі:</span> <span
					class="w3-large"> {{patientById.patient_pib}} </span>
			</div>
			<div class="w3-card-2">
				<header class="w3-container w3-bar w3-light-grey w3-tiny">
					<div class="w3-bar-item">
						<b> Прийом:</b>
					</div>
					<div class="w3-bar-item w3-hover-grey"
						ng-click="newPatientSateRecord()">
						<i class="fa fa-pencil" aria-hidden="true"></i> Новий запис
					</div>
				</header>
				{{patientById.patient_pib}}
				<div ng-repeat="ph in patientById.children">
				{{ph.doctimestamp | date:'short'}}
				{{ph}}
				</div>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-card-2">
				<div ng-include="'/f/mvp1/ng/protocol-list.html'"></div>
			</div>
		</div>
	</div>
</div>