<div class="w3-container">
	<div ng-if="!protocol.config.viewModel"
		ng-include="'/f/mvp1/meddoc/viewModel/protocol0.html'"></div>

	<div ng-if="'vm_0_0_1' == protocol.config.viewModel" class="w3-row">
		<div class="w3-col m{{12 - protocol.config.menuWidth}}">
			<div
				ng-include="'/f/mvp1/meddoc/viewModel/'
				+protocol.config.viewModel+'/'+protocol.config.viewModel+'.html'"></div>
		</div>
		<!-- -left 
			style="position: fixed; right: 0;"
		-->
		<div class="w3-col w3-border w3-leftbar m{{protocol.config.menuWidth}}">
			<header class="w3-light-grey w3-tiny">
				<a class="w3-gray" ng-click="menuWidthPlus()"> <i
					class="fa fa-angle-left" aria-hidden="true"></i>
				</a> &nbsp; <a class="w3-gray" ng-click="menuWidthMinus()"> <i
					class="fa fa-angle-right" aria-hidden="true"></i>
				</a> &nbsp; меню
				<button ng-click="saveProtocolDialog()"
					class="w3-btn w3-grey w3-tiny w3-border w3-border-blue w3-round">
					<i class="fa fa-floppy-o" aria-hidden="true"></i>
				</button>
				<button class="w3-btn w3-grey w3-tiny w3-border w3-border-blue w3-round">
					<i class="fa fa-print" aria-hidden="true"></i>
				</button>
			</header>
			<span class="w3-small"> Протокол <span
				ng-if="protocol.editKey.key">
					{{protocol[protocol.editKey.key].keys().length}} </span>
			</span>
			<div class="w3-small" ng-init="objToEdit= protocol; editPath = 'protocol';"
				ng-include="'/f/mvp1/meddoc/viewModel/vm_0_0_1/menu_1.html'">
			</div>
		</div>
	</div>
</div>