<div ng-include="'/f/mvp1/medic/cabinet-menu-line.html'"></div>

<div class="w3-panel w3-border-bottom" style="margin-bottom: 0;">
	<div class="w3-left ">
		<div class="w3-bar">
			<div class="w3-bar-item">
				<span class="w3-orange"> Календар</span>
			</div>
		</div>
	</div>
	<div class="w3-left  w3-small">
		<div class="w3-bar">
			<button
				class="w3-bar-item  w3-tiny w3-btn w3-border w3-light-grey w3-round">
				<b> Сьогодні</b>
			</button>
			<div class="w3-bar-item w3-tiny"></div>
			<button
				class="w3-bar-item w3-tiny w3-btn w3-border w3-light-grey w3-round"><</button>
			<button
				class="w3-bar-item w3-tiny w3-btn w3-border w3-light-grey w3-round">></button>
			<div class="w3-bar-item">інтервал</div>
		</div>
	</div>
	<div class="w3-right">
		<div class="w3-bar">
			<button ng-repeat="b in basicCalendar.dayPart.list"
				ng-class="{'w3-border-blue':b==basicCalendar.dayPart.item}"
				ng-click="basicCalendar.dayPart.item=b"
				class="w3-bar-item w3-tiny w3-btn w3-border w3-light-grey ">
				{{basicCalendar.dayPart.itemNames_ua[$index]}}</button>
		</div>
	</div>
</div>

<div ng-switch="basicCalendar.dayPart.item">
	<div ng-switch-when="day">
		<table class="w3-table">
			<col width="10%">
			<col width="90%">
			<tr class="w3-tiny">
				<td class="w3-tiny w3-right">чч:хх</td>
				<td class="w3-center">{{basicCalendar.todayTime | date : 'EEEE d.M'}}</td>
			</tr>
		</table>
		<div style="max-height: 400px; overflow: auto;">
			<table class="w3-table">
				<col width="10%">
				<col width="90%">
				<tr ng-repeat="h in basicCalendar.hoursOfWork">
					<td class="w3-tiny w3-right">
						{{basicCalendar.getDateWithHour(h)|date:'HH:mm'}}</td>
					<td class="w3-border">
						<div ng-if="h==9" style="position: relative;">
							<div class="w3-border" style="position: absolute; width: 50%">
								<span class="w3-tiny w3-gray"> 9:00-9:30</span>&nbsp;
								<a href="/v/patient?id=3">
								Петренко
								</a>
								<div>
									&nbsp; 
									<span class="w3-border-top w3-border-left w3-border-red">
									<span class="w3-tiny">ICPC2:</span>
										 Код </span> 
									<span
										class="w3-border-bottom w3-border-left w3-border-green">
										<span class="w3-tiny">МКХ10:</span>
										 Код </span>
								</div>
							</div>
							<br /> <br />
							<div style="position: absolute; top: 8px; left: 45%"
								class="w3-border w3-white">
								<span class="w3-tiny w3-gray"> 9:15-9:45</span> &nbsp; <a
									href="/v/patient?id=4"> Сидоренко </a>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
								<div>
									&nbsp;<span class="w3-border-top w3-border-left w3-border-red">
									<span class="w3-tiny">ICPC2:</span>
										 Код </span> <span
										class="w3-border-bottom w3-leftbar w3-border-red">
										<span class="w3-tiny">МКХ10:</span>
										 ? </span>
								</div>
								<br/>
							</div>
						</div>
						<div ng-if="h==10">
							<div class="w3-border">
								<span class="w3-tiny w3-gray"> 10:00-10:45</span> 
								&nbsp; <a
									href="/v/patient?id=5">Бондаренко</a>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-switch-when="week">
		<table class="w3-table">
			<tr class="w3-tiny">
				<td class="w3-tiny w3-right">чч:хх</td>
				<td ng-repeat="wd in basicCalendar.daysOfWeek">
					{{basicCalendar.dayOfMonthOfWeekMonth(0,wd)|date:'EEE d.M'}}</td>
			</tr>
			<tr ng-repeat="h in basicCalendar.hoursOfWork">
				<td class="w3-tiny w3-right">{{h}}</td>
				<td ng-repeat="wd in basicCalendar.daysOfWeek" class="w3-border"></td>
			</tr>
		</table>
	</div>
	<div ng-switch-when="month">
		<table class="w3-table">
		<col width="10%"
		ng-repeat="d in basicCalendar.daysOfWeek"
		/>
			<tr class="w3-tiny">
				<td ng-repeat="wd in basicCalendar.daysOfWeek">
					{{basicCalendar.dayOfMonthOfWeekMonth(0,wd)|date:'EEE'}}</td>
			</tr>
			<tr ng-repeat="w in basicCalendar.monthWeek">
				<td ng-repeat="d in basicCalendar.daysOfWeek" class="w3-border"
					ng-class="{'w3-border-black w3-gray':basicCalendar.isToday(basicCalendar.dayOfMonthOfWeekMonth(w,d))}">
					<div class="w3-bar w3-light-grey w3-tiny">
						<div class="w3-left">
							{{basicCalendar.dayOfMonthOfWeekMonth(w,d)|date:'dd'}}</div>
					</div> 
					...
					<span 
					class="w3-tiny"
					ng-if="w==2&&d==1">
					Принято 8 хв.
					</span>
					<span 
					class="w3-tiny"
					ng-if="w==3&&d==3">
					Записано 8 хв.
					</span>
					<span 
					class="w3-tiny"
					ng-if="w==3&&d==5">
					Записано 3 хв.
					</span>
					<!-- 
					{{basicCalendar.isToday(basicCalendar.dayOfMonthOfWeekMonth(w,d))}}
					 -->
				</td>
			</tr>
		</table>
	</div>
	<div ng-switch-when="4day">..3.</div>
	<div ng-switch-when="termin">.t.3.</div>
	<div ng-switch-default>.x..</div>
</div>

<!-- 
<div>Formats - 
, day {{basicCalendar.todayTime | date : 'EEEE d.M'}}
, dd {{basicCalendar.firstDateOfMonthFirstWeek()|date:'dd'}}
, firstDateOfMonthFirstWeek {{basicCalendar.firstDateOfMonthFirstWeek()|date}}
, firstDateOfMonth {{basicCalendar.firstDateOfMonth()|date}}
, EEE {{basicCalendar.todayTime | date : 'EEE'}}
, week(00-53) {{basicCalendar.todayTime | date : 'ww'}}
, {{basicCalendar.todayTime | date}}
, short {{basicCalendar.todayTime | date : 'short'}}
, medium {{basicCalendar.todayTime | date : 'medium'}}
, shortDate {{basicCalendar.todayTime | date : 'shortDate'}}
, mediumDate {{basicCalendar.todayTime | date : 'mediumDate'}}
, longDate {{basicCalendar.todayTime | date : 'longDate'}}
, fullDate {{basicCalendar.todayTime | date : 'fullDate'}}
, shortTime {{basicCalendar.todayTime | date : 'shortTime'}}
, mediumTime {{basicCalendar.todayTime | date : 'mediumTime'}}
</div>
 -->
