<div class="w3-container">
	<h2>
		<span class="w3-tiny w3-orange">тестування</span> Реєстр: <span
			class="w3-text-light-gray"> eHealth_in_UA <i
			ng-click="modalMspList()" class="fa fa-list-alt w3-hover-text-yellow"
			aria-hidden="true"></i>
		</span>
	</h2>
	<div class="w3-row-padding">
		<div class="w3-half">
			<div class="w3-card-2">
				<div ng-include="'/f/mvp1/medic/msp/msp_registry.html'"></div>
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-card-2">
				<header class="w3-light-gray">
				<span class="w3-circle w3-border w3-yellow">&nbsp;2&nbsp;</span>
				 ...лікаря</header>
				--
			</div>
		</div>
		<div class="w3-quarter">
			<div class="w3-card-2">
				<header class="w3-light-gray">
					<span class="w3-circle w3-border w3-yellow">&nbsp;3&nbsp;</span> ...пацієнта</header>
				--
			</div>
		</div>
	</div>
	<div id="id01_msp_list" class="w3-modal">
		<div class="w3-modal-content">
			<div class="w3-container">
				<span ng-click="closeMsp()" class="w3-button w3-display-topright">&times;</span>
				<p ng-repeat="msp in msp_list"
					class=" w3-hover-border-green w3-border w3-border-white">
					<a href="?doc_id={{msp.msp_id}}"> {{msp.msp_id}} :
						{{msp.msp_public_name}} : {{msp.msp_name}} </a>
				</p>
				<p>
					<a href="?" class="w3-btn w3-blue" ng-click="newMsp()">Новий
						ПМП </a> 
					<a class="w3-btn w3-blue w3-right" ng-click="closeMsp()">Закрити
					</a>
				</p>
			</div>
		</div>
	</div>
</div>